keycloak/node-red/files/flows.json
[
  {
    "id": "183214b9.5caf9b",
    "type": "tab",
    "label": "Applica Sp. z o.o. - Office",
    "disabled": false,
    "info": ""
  },
  {
    "id": "92d14442.90b118",
    "type": "mqtt-broker",
    "z": "",
    "name": "DOCKER",
    "broker": "192.168.1.12",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "71018d01.0d97d4",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "513ed6be.07c738",
    "type": "ui_group",
    "z": "",
    "name": "Applica Sp. z o.o. - Office",
    "tab": "71018d01.0d97d4",
    "order": 1,
    "disp": false,
    "width": "12",
    "collapse": false
  },
  {
    "id": "88d73758.70dd88",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#097479",
          "value": "#097479",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#097479",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#111111",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "group-textColor": {
          "value": "#0eb8c0",
          "edited": false
        },
        "group-borderColor": {
          "value": "#555555",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "widget-textColor": {
          "value": "#eeeeee",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#097479",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#333333",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "true",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "8266ec7a.b8461",
    "type": "slack-config",
    "z": "",
    "name": "Applica Sp. z o.o."
  },
  {
    "id": "a50537a2.e03128",
    "type": "ui_gauge",
    "z": "183214b9.5caf9b",
    "name": "",
    "group": "513ed6be.07c738",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "units",
    "format": "{{msg.payload.AM2301.Temperature}}",
    "min": "-5",
    "max": "50",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ff0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 690,
    "y": 300,
    "wires": []
  },
  {
    "id": "b397db03.c8a888",
    "type": "mqtt in",
    "z": "183214b9.5caf9b",
    "name": "",
    "topic": "tele/ESP_17E3AF/SENSOR",
    "qos": "2",
    "datatype": "auto",
    "broker": "92d14442.90b118",
    "x": 160,
    "y": 360,
    "wires": [
      [
        "347f2aca.1e7106",
        "8c54363b.b5e6e8"
      ]
    ]
  },
  {
    "id": "347f2aca.1e7106",
    "type": "json",
    "z": "183214b9.5caf9b",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 360,
    "wires": [
      [
        "a50537a2.e03128",
        "8c54363b.b5e6e8",
        "617bb66a.b1fca8",
        "bfa466bf.d88818"
      ]
    ]
  },
  {
    "id": "8c54363b.b5e6e8",
    "type": "debug",
    "z": "183214b9.5caf9b",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 80,
    "wires": []
  },
  {
    "id": "617bb66a.b1fca8",
    "type": "ui_gauge",
    "z": "183214b9.5caf9b",
    "name": "",
    "group": "513ed6be.07c738",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Humidity",
    "label": "units",
    "format": "{{msg.payload.AM2301.Humidity}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ff0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 680,
    "y": 420,
    "wires": []
  },
  {
    "id": "bd0864e2.8cdcd8",
    "type": "slack-web-out",
    "z": "183214b9.5caf9b",
    "client": "8266ec7a.b8461",
    "name": "#checkers",
    "x": 1330,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "7d9753e6.2af4cc",
    "type": "function",
    "z": "183214b9.5caf9b",
    "name": "",
    "func": "var name = \"`Office Checker`\"\n\nvar temp_name = \"Temperature: `\"\nvar hum_name = \"Humidity: `\"\n\nvar temp_msg = temp_name + msg.payload.AM2301.Temperature + \" \" + msg.payload.TempUnit + \"`\"\nvar hum_msg = hum_name + msg.payload.AM2301.Humidity + \"`\"\n\nvar message = name + \" - \" + temp_msg + \", \" + hum_msg\n\nmsg.topic = \"chat.postMessage\"\n\nmsg.payload = {\n    channel: \"checkers\",\n    text: message\n}\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1120,
    "y": 620,
    "wires": [
      [
        "bd0864e2.8cdcd8"
      ]
    ]
  },
  {
    "id": "bfa466bf.d88818",
    "type": "switch",
    "z": "183214b9.5caf9b",
    "name": "Temperature <= 15*C && Temperature >= 28*C",
    "property": "msg.payload.AM2301.Temperature",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "28",
        "vt": "str"
      },
      {
        "t": "lte",
        "v": "15",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 800,
    "y": 620,
    "wires": [
      [
        "7d9753e6.2af4cc"
      ],
      []
    ]
  }
]